---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Source Serif Pro', sans-serif;
$base-font-weight: 400;
$base-font-size: 22px;
$base-line-height: 34px;

$base-heading-font-family: 'Source Sans Pro', serif;;
$base-heading-font-weight: 700;

$small-font-size:  $base-font-size * 0.9;

$on-palm-font-size: 18px;
$on-palm-line-height: 32px;

$header-color: rgba(255,255,255,0.9);
$header-background-color: rgba(0,0,0,0.9);

$spacing-unit:     30px;

$text-color:       rgba(0,0,0,0.8);
$background-color: #fefefe;
$brand-color:      $text-color;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    760px;

$on-palm:          600px;
$on-laptop:        700px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
