<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
  <event date="2015-07-22">
    <action type="thinking">Some thoughts about recruiting a passionate developer in the 21st century</action>
    <references>
      <reference src="notes/20150722OnRecruiting.txt" type="note" />
    </references>
  </event>
  <event date="2015-07-22">
    <action type="studying">Chapter 22: I Need to Change a Monster Method and I Can't Write Tests for It</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
      <reference src="notes/20150722Chapter22_wewlc.txt" type="note" />
    </references>
  </event>
  <event date="2015-07-21">
    <action type="reading">Chapters 1-4 of Mostly Adeguate Guide to Functional Programming</action>
    <references>
      <reference src="http://drboolean.gitbooks.io/mostly-adequate-guide/" type="source" />
    </references>
  </event>
  <event date="2015-07-20">
    <action type="reading">The Most Common Reasons Why Software Projects Fail</action>
    <references>
      <reference src="http://www.infoq.com/articles/software-failure-reasons" type="source" />
    </references>
  </event>
  <event date="2015-07-19">
    <action type="bookmark">Professor Frisby's Mostly Adeguate Guide to Functional Programming</action>
    <references>
      <reference src="http://drboolean.gitbooks.io/mostly-adequate-guide/" type="source" />
    </references>
  </event>
  <event date="2015-07-19">
    <action type="watching">Eric Evans JAX 2015 Keynote: DDD and Microservices: At last, some boundaries!</action>
    <references>
      <reference src="https://vimeo.com/125769142" type="source" />
    </references>
  </event>
  <event date="2015-07-18">
    <action type="studying">Chapter 6 of "Programming Erlang" - Error Handling in Sequential Programs</action>
    <references>
      <reference src="https://pragprog.com/book/jaerlang2/programming-erlang" type="source" />
    </references>
  </event>
  <event date="2015-07-16">
    <action type="project">Just created the "Simple Board" project in Phoenix Framework</action>
    <references>
      <reference src="https://github.com/joebew42/simple_board" type="source" />
      <reference src="notes/20150716PhoenixFramework.txt" type="note" />
    </references>
  </event>
  <event date="2015-07-16">
    <action type="studying">Chapter 21: I’m Changing the Same Code All Over the Place</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-07-15">
    <action type="studying">Chapter 21: I’m Changing the Same Code All Over the Place</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-07-15">
    <action type="bookmark">The Most Common Reasons Why Software Projects Fail</action>
    <references>
      <reference src="http://www.infoq.com/articles/software-failure-reasons" type="source" />
    </references>
  </event>
  <event date="2015-07-14">
    <action type="studying">Chapter 20: This Class Is Too Big and I Don’t Want It to Get Any Bigger</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
      <reference src="notes/20150710Chapter20_wewlc.txt" type="note" />
    </references>
  </event>
  <event date="2015-07-14">
    <action type="studying">Playing around the Phoenix Framework with a simple project</action>
    <references>
      <reference src="https://github.com/joebew42/cromer" type="source" />
    </references>
  </event>
  <event date="2015-07-13">
    <action type="studying">Chapter 20: This Class Is Too Big and I Don’t Want It to Get Any Bigger</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
      <reference src="notes/20150710Chapter20_wewlc.txt" type="note" />
    </references>
  </event>
  <event date="2015-07-12">
    <action type="watching">Sandro Mancuso : Crafted Design</action>
    <references>
      <reference src="https://vimeo.com/107963074" type="leanagilescotland" />
      <reference src="https://vimeo.com/128596005" type="jax2014london" />
      <reference src="notes/20150712SandroMancuso_CraftedDesign.txt" type="note" />
    </references>
  </event>
  <event date="2015-07-10">
    <action type="bookmark">Sandro Mancuso : Crafted Design</action>
    <references>
      <reference src="https://vimeo.com/107963074" type="source" />
    </references>
  </event>
  <event date="2015-07-10">
    <action type="studying">Chapter 20: This Class Is Too Big and I Don’t Want It to Get Any Bigger</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
      <reference src="notes/20150710Chapter20_wewlc.txt" type="note" />
    </references>
  </event>
  <event date="2015-07-08">
    <action type="studying">Chapter 19: My Project Is Not Object Oriented. How Do I Make Safe Changes?</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-07-08">
    <action type="bookmark">Implementing the logic for a board game in Elixir - Torben Hoffmann</action>
    <references>
      <reference src="https://vimeo.com/131757761" type="source" />
    </references>
  </event>
  <event date="2015-07-07">
    <action type="exploring">Doing some practice with Phoenix Framework</action>
    <references>
      <reference src="http://www.phoenixframework.org/" type="source" />
    </references>
  </event>
  <event date="2015-07-07">
    <action type="studying">Chapter 18: My Test Code Is in the Way</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-07-03">
    <action type="studying">Chapter 17: My Application Has No Structure - Telling the Story of the System</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-07-02">
    <action type="bookmark">Object-Oriented Reengineering Patterns</action>
    <references>
      <reference src="http://www.amazon.com/Object-Oriented-Reengineering-Patterns-Oscar-Nierstrasz/dp/395233412X" type="source" />
    </references>
  </event>
  <event date="2015-07-02">
    <action type="studying">Chapter 17: My Application Has No Structure</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-07-01">
    <action type="studying">Chapter 16: I Don’t Understand the Code Well Enough to Change It</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
      <reference src="notes/20150701Chapter16_wewlc.txt" type="note" />
    </references>
  </event>
  <event date="2015-06-30">
    <action type="watching">Practical Refactoring</action>
    <references>
      <reference src="https://www.youtube.com/watch?v=aWiwDdx_rdo" type="video" />
    </references>
  </event>
  <event date="2015-06-30">
    <action type="watching">Martin Fowler @ OOP2014 "Workflows of Refactoring"</action>
    <references>
      <reference src="https://www.youtube.com/watch?v=vqEg37e4Mkw" type="source" />
    </references>
  </event>
  <event date="2015-06-30">
    <action type="studying">Chapter 14: Dependencies on Libraries Are Killing Me - Chapter 15: My Application Is All API Calls</action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-06-29">
    <action type="bookmark">Anti-fragile and feedback. Trying to make up for the failures of "agile."</action>
    <references>
      <reference src="https://vimeo.com/131410262" type="video" />
    </references>
  </event>
  <event date="2015-06-29">
    <action type="bookmark">Phoenix Framework</action>
    <references>
      <reference src="http://www.phoenixframework.org/" type="source" />
    </references>
  </event>
  <event date="2015-06-29">
    <action type="studying">
      Chapter 13 of "Working Effectively with Legacy Code":
      - I Need to Make a Change, but I Don’t Know What Tests to Write - Characterization Tests
    </action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-06-28">
    <action type="studying">Chapter 5 of "Programming Erlang" - Records and Maps</action>
    <references>
      <reference src="https://pragprog.com/book/jaerlang2/programming-erlang" type="source" />
      <reference src="https://github.com/joebew42/programming-erlang/blob/master/exercises/chap5/records_maps.erl" type="ex. 2" />
      <reference src="https://github.com/joebew42/programming-erlang/blob/master/exercises/chap5/mymaps.erl" type="ex. 3" />
    </references>
  </event>
  <event date="2015-06-28">
    <action type="studying">Refactoring with Loops and Collection Pipelines</action>
    <references>
      <reference src="http://martinfowler.com/articles/refactoring-pipelines.html" type="source" />
    </references>
  </event>
  <event date="2015-06-26">
    <action type="studying">Postscript: Time Goes On</action>
    <references>
      <reference src="http://learnyousomeerlang.com/time" type="source" />
    </references>
  </event>
  <event date="2015-06-25">
    <action type="studying">
      Chapter 13 of "Working Effectively with Legacy Code":
      - I Need to Make a Change, but I Don’t Know What Tests to Write
    </action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-06-23">
    <action type="studying">Testing Puppet with rspec-puppet and manage module dependecies with librarian-puppet</action>
    <references>
      <reference src="http://rspec-puppet.com/" type="rspec-puppet" />
      <reference src="http://librarian-puppet.com/" type="librarian-puppet" />
    </references>
  </event>
  <event date="2015-06-23">
    <action type="bookmark">Refactoring with Loops and Collection Pipelines</action>
    <references>
      <reference src="http://martinfowler.com/articles/refactoring-pipelines.html" type="source" />
    </references>
  </event>
  <event date="2015-06-23">
    <action type="project">
      Preparing the daily-activity-log-concept github repository and a ready-to-go project to help users to start with.
    </action>
    <references>
      <reference src="https://github.com/joebew42/daily-activity-log-concept" type="concept" />
      <reference src="https://github.com/joebew42/daily-activity-log" type="ready-to-go project" />
    </references>
  </event>
  <event date="2015-06-23">
    <action type="studying">
      Chapter 12 of "Working Effectively with Legacy Code":
      - Using Effect Sketches to Find Hidden Classes
      - Pinch Point Traps
    </action>
    <references>
      <reference src="http://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052" type="source" />
    </references>
  </event>
  <event date="2015-06-21">
    <action type="bookmark">Ember.js documentation</action>
    <references>
      <reference src="http://guides.emberjs.com/" type="source" />
    </references>
  </event>
  <event date="2015-06-21">
    <action type="reading">Q&amp;A How to deal with a legacy infrastructure</action>
    <references>
      <reference src="http://searchsoa.techtarget.com/feature/QA-How-to-deal-with-a-legacy-infrastructure" type="source" />
    </references>
  </event>
  <event date="2015-06-21">
    <action type="reading">
      Just finished to read "Kanban and Scrum - making the most of both", really enjoyed it.
      If you are searching for a pratically and a smoothly introduction to Kanban,
      this is the book to start with.
    </action>
    <references>
      <reference src="http://www.infoq.com/minibooks/kanban-scrum-minibook" type="source" />
    </references>
  </event>
  <event date="2015-06-20">
    <action type="reading">Composition vs. Inheritance: How to Choose?</action>
    <references>
      <reference src="http://www.thoughtworks.com/insights/blog/composition-vs-inheritance-how-choose" type="source" />
      <reference src="notes/20150620_composition_vs_inheritance_how_to_choose.txt" type="note" />
    </references>
  </event>
  <event date="2015-06-19">
    <action type="practice">Mob Programming Kata @ HLCS</action>
    <references>
      <reference src="http://hlcs.it/2015/06/18/venerdi-19-giugno-ancora-serata-kata-in-hpcc/" type="event" />
      <reference src="http://codetojoy.blogspot.it/2013/02/a-simple-code-kata.html" type="kata" />
    </references>
  </event>
  <event date="2015-06-17">
    <action type="bookmark">Q&amp;A How to deal with a legacy infrastructure</action>
    <references>
      <reference src="http://searchsoa.techtarget.com/feature/QA-How-to-deal-with-a-legacy-infrastructure" type="source" />
    </references>
  </event>
  <event date="2015-06-16">
    <action type="learned">How to get started with Kanban</action>
    <references>
      <reference src="notes/20150616some_aspects_of_kanban.txt" type="note" />
    </references>
  </event>
  <event date="2015-06-14">
    <action type="preparing">Kanban Pizza Game workshop</action>
    <references>
      <reference src="http://www.agile42.com/en/training/kanban-pizza-game/" type="source" />
    </references>
  </event>
  <event date="2015-06-14">
    <action type="practice">Using XML/XSLT to display my activity log</action>
  </event>
  <event date="2015-06-14">
    <action type="reading">Part I of "Kanban and Scrum - making the most of both"</action>
    <references>
      <reference src="http://www.infoq.com/minibooks/kanban-scrum-minibook" type="source" />
    </references>
  </event>
  <event date="2015-06-13">
    <action type="reading">Part I of "Kanban and Scrum - making the most of both"</action>
    <references>
      <reference src="http://www.infoq.com/minibooks/kanban-scrum-minibook" type="source" />
    </references>
  </event>
  <event date="2015-06-13">
    <action type="reading">"Part II: Case study" of "Kanban and Scrum - making the most of both"</action>
    <references>
      <reference src="http://www.infoq.com/minibooks/kanban-scrum-minibook" type="source" />
      <reference src="notes/20150611kanban_and_scrum_part_ii_case_study.txt" type="note" />
    </references>
  </event>
  <event date="2015-06-12">
    <action type="reading">How to express action in RDF</action>
    <references>
      <reference src="http://schema.org/Action" type="source" />
    </references>
  </event>
  <event date="2015-06-12">
    <action type="studying">Why RDF model is different from the XML model</action>
    <references>
      <reference src="http://www.w3.org/DesignIssues/RDF-XML" type="source" />
    </references>
  </event>
  <event date="2015-06-12">
    <action type="preparing">Kanban Pizza Game workshop</action>
    <references>
      <reference src="http://www.agile42.com/en/training/kanban-pizza-game/" type="source" />
    </references>
  </event>
  <event date="2015-06-12">
    <action type="reading">"Part II: Case study" of "Kanban and Scrum - making the most of both"</action>
    <references>
      <reference src="http://www.infoq.com/minibooks/kanban-scrum-minibook" type="source" />
      <reference src="notes/20150611kanban_and_scrum_part_ii_case_study.txt" type="note" />
    </references>
  </event>
  <event date="2015-06-11">
    <action type="reading">"Part II: Case study" of "Kanban and Scrum - making the most of both"</action>
    <references>
      <reference src="http://www.infoq.com/minibooks/kanban-scrum-minibook" type="source" />
      <reference src="notes/20150611kanban_and_scrum_part_ii_case_study.txt" type="note" />
    </references>
  </event>
  <event date="2015-06-11">
    <action type="reading">Kanban, dall'idea alla pratica</action>
    <references>
      <reference src="http://www2.mokabyte.it/cms/article.run?articleId=1ZE-MG3-HTF-KXM_7f000001_20231187_a57bcc6b" type="source" />
      <reference src="notes/20150611kanban.txt" type="note" />
    </references>
  </event>
  <event date="2015-06-11">
    <action type="download">Kanban and Scrum - making the most of both</action>
    <references>
      <reference src="http://www.infoq.com/minibooks/kanban-scrum-minibook" type="source" />
    </references>
  </event>
  <event date="2015-06-11">
    <action type="viewing">How the process/product quality is perceived from internal to external</action>
    <references>
      <reference src="http://image.slidesharecdn.com/201102xpmeetupkanbanafter-110208125329-phpapp01/95/how-to-get-started-with-kanban-and-why-21-728.jpg" type="source" />
    </references>
  </event>
  <event date="2015-06-11">
    <action type="viewing">How to get started with Kanban and why</action>
    <references>
      <reference src="http://www.slideshare.net/ingvaldskaug/how-to-get-started-with-kanban-and-why" type="source" />
    </references>
  </event>
  <event date="2015-06-11">
    <action type="thinking">about a web based application that helps you to create and organize notes on a virtual desktop (like post-it)</action>
  </event>
  <event date="2015-06-11">
    <action type="reading">Designing your Kanban board to map your process</action>
    <references>
      <reference src="http://leankit.com/blog/wp-content/uploads/2014/02/Designing-Your-Kanban-Board-to-Map-Your-Process-PDF.pdf" type="source" />
    </references>
  </event>
  <event date="2015-06-11">
    <action type="reading">XML and XSLT</action>
    <references>
      <reference src="http://www.w3schools.com/xml/xml_xsl.asp" type="source" />
    </references>
  </event>
</events>
