body {
    margin: 0;
    font: 11pt 'Open Sans', sans-serif;
    background-position: left 46px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #C0DEED;
    background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
}

.header {
    padding: 8px;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    color: #0084B4;
    background: white;
    box-shadow: 0 0 4px grey;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.at-top {
    top: 0;
}

.with-top-margin {
    margin-top: 70px;
}

.with-bottom-margin {
    margin-bottom: 20px;
}

ul {
    background: white;
    padding: 10px;
    list-style-type: none;
    width: 640px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #E1E8ED;
}

.event {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.event small {
    color: #464646;
    font-size: 10pt;
}

.event-title {
    color: #232323;
    font-size: 11pt;
}

.action-type {
    margin-left: 5px;
    color: #fff;
    font-size: 10pt;
    padding: 5px;
    background: #0084B4;
    border-radius: 6px;
    float: right;
}