/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight $base-font-size $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
}


/**
 * Headers
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $base-heading-font-family;
    margin: 28px 0;
    line-height: normal;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Sub and Sup
 */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-heading-font-weight;
}



/**
 * Links
 */
a {
    &,
    &:visited,
    &:hover {
        color: $text-color;
        text-decoration: none;
        border-bottom: 1px solid $text-color;
    }
}

.post-link {
    font-family: $base-heading-font-family;
    display: block;

    &,
    &:visited,
    &:hover {
        text-decoration: underline;
        border: none;
    }
}


/**
 * Blockquotes
 */
blockquote {
    color: $blockquote-text-color;
    border-left: 8px solid $blue;
    padding: 5px 20px;
    font-size: 24px;
    line-height: 36px;
    margin: 24px 10px;
}


/**
 * Strong
 */
strong {
    font-weight: 600;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Embedded content
 */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 20pt;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.emoji {
    width: 24px;
    height: 24px;
}

/**
 * Tags
 */
.read-more {
  margin: 10px 0 !important;
  text-transform: none !important;
  font-size: 24px !important;
  text-align: center;
  padding: 10px !important;
  font-weight: 700 !important;

  a {
    display: block !important;
  }
}

.post-tag {
    margin: 5px;
    padding: 5px;
    font: $post-tag-font-weight $base-small-font-size $post-tag-font-family;
    text-transform: uppercase;

    a {
        &, &:visited, &:hover {
            border-bottom: none;
            text-decoration: none;
            color: white;
        }
    }
}

.post-tag.normal {
    font-size: $base-font-size;
    margin-bottom: 30px;
}

.post-tag.no-margin-left {
    margin-left: 0px;
}

.post-tag.no-margin-right {
    margin-right: 0px;
}

.post-tag.practice {
    color: white;
    background-color: #f03e3e;
}

.post-tag.elixir {
    color: white;
    background-color: #4a355f;
}

.post-tag.programming {
    color: white;
    background-color: teal;
}

.post-tag.creative {
    color: black;
    background-color: yellow;
    a {
        &, &:visited, &:hover {
            color: black;
        }
    }
}

.post-tag.tools {
    color: white;
    background-color: black;
}

.post-tag.idea {
    color: black;
    background-color: pink;
    a {
        &, &:visited, &:hover {
            color: black;
        }
    }
}
