.post_navigation {
  margin-top: 20px;
  font: $base-font-weight $base-font-size $base-heading-font-family;
  display: block;
  width: auto;
  overflow: hidden;
}

.post_navigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  border: none;
}

.post_navigation .next {
  float: right;
  text-align: right;
}