---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p> -->

</article>

<div class="share">
  <a class="share-button blue" target="_blank"
    href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+@{{ site.twitter_username | url_encode }}+{{ page.url | prepend: site.url | url_encode }}">Comment on Twitter</a>
</div>

<div class="read-more post-tag {{ page.tag }}">
  <a class="read-more-button" href="/tag/{{ page.tag }}">Read more on #{{ page.tag }}</a>
</div>

<div class="post_navigation">
  {% if page.previous.url %}
  <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
  <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
